html {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0;
}
ul {
  width: 100%;
  height: 75px;
  margin: 0;
  padding-top: 0;
  padding-left: 50px;
}

#navbar {
  width: 100%;
  height: 75px;
  background-color: black;
  margin: 0;
  position: fixed;
  display: block;
}

#card {
  height: 200px;
  width: 400px;
  margin-left: 31%;
  padding-top: 200px;
  text-align:  center;
  font-family: copperplate;
  color: silver;
}

h1 {
  font-size: 45px;

}
h6 {
  font-size: 12px;


}

li {
  display: inline-block;
  height: 25px;
  margin-left: 12px;
  padding-top: 26px !important;
  margin-right: 12px;
}

li a {
  text-decoration: none;
  color: #777;

}

li a:hover {
    color: white;
}
#container {
   height: 100%;
    width: 100%;
    display: block;
}
#pic {
  background: url('images/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: block;
}

.overlay {
  z-index: 1;
height: 100%;
width: 100%;
position: fixed;
overflow: auto;
top: 0px;
left: 0px;
/*background: rgba(0, 0, 0, 0.2);*/
margin-top: 75px;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;
   background-color: black;
   z-index: 2;
}


#contactfooter {
  display: none;
}

#aboutfooter {
  display: none;
}


.block {
  height: 10px;
  width: 150px;
  border: 3px solid black;
  background-color: black;
  border-radius: 5px;
  display: none;
  margin-left: 10px;
  margin-top: 40px;
  background-image: linear-gradient(to bottom, #CECBCF 25%, #5B575C 64%);

}

.block:hover {
  background-image: linear-gradient(to bottom, #CECBCF 25%, #5B575C 64%) !important;
}

.link {
  text-decoration: none;
}

.block img {
  /*display: none;*/
  height: 70%;
  width: 90%;
  display: block;
  margin-top: 5px;
  margin-left: 7px;
  visibility: hidden;
}

.block h5 {
  display: none;
  color: silver;
  padding: 0;
  text-align: center;
  padding-top: 7px;
  padding-right: 2px;
  margin: 0;
}

.contact {
  height: 10px;
  width: 150px;
  border: 3px solid black;
  background-color: black;
  border-radius: 5px;
  display: none;
  margin-left: 10px;
  margin-top: 40px;
  background-image: linear-gradient(to bottom, #CECBCF 25%, #5B575C 64%);
}

.contact:hover {
  background-image: linear-gradient(to bottom, #CECBCF 25%, #5B575C 64%) !important;
}

.contact img {
  display: block;
  height: 100%;
  width: 100%;
  visibility: hidden;
}